.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-semi-transparent {
    background-color: var(--modalBG-color);
}

.modal-standart-background {
    background-color: var(--background-color);
}

.signUp-modal-width {
    max-width: 500px;
}

.mainScreen-modal-width {
    max-width: 600px;
}

.modal-content {
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1.5rem;
    background-color: var(--white-color);
    border-radius: 1rem;
    width: 80%;
}

.modal-input {
    width: 100%;
    margin-top: 1.5rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.modal-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.content-gap {
    gap: 2.5rem;
}

.buttons-gap {
    gap: 1rem;
}

.enter-button {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.delete-button {
    background-color: var(--delete-color);
    color: var(--white-color);
}

.cancel-button {
    background-color: var(--white-color);
    color: var(--black-color);
    border: 1px solid var(--border-color);
}

.save-button {
    background-color: var(--save-color);
    color: var(--white-color);
}

.boucingContainer {
    width: 200px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bouncingCircle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: var(--primary-color);
    left: 15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }

    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0%;
    }
}

.bouncingCircle2 {
    left: 45%;
    animation-delay: .2s;
}

.bouncingCircle3 {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow {
    width: 20px;
    height: 4px;
    border-radius: 58%;
    background-color: var(--primary-color);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow {
    0% {
        transform: scaleX(2);
    }

    40% {
        transform: scaleX(2);
    }

    100% {
        transform: scaleX(0.5);
        opacity: .4;
    }
}

.shadow2 {
    left: 45%;
    animation-delay: .2s;
}

.shadow3 {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.flex-center {
    display: flex;
    justify-content: center;
    width: 100%;
}