body {
  margin: 0;
  padding: 0;
  color: var(--black-color);
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.6rem;
}

h2 { 
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2rem;
}

button {
  width: 120px;
  height: 32px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
  font-weight: 700;
}

button:disabled {
  filter: grayscale(100%);
  cursor: not-allowed;
}

button:hover {
  background-position: left bottom;
  color: var(--light-color);
  transition: ease-in 0.2s;
}

button:not(:hover) {
  transition: ease-in 0.2s;
}

p {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

input, textarea {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--input-border-color);
  padding: 8px 10px;
  box-sizing: border-box;
  font-family: 'Roboto';
}

input::placeholder, textarea::placeholder {
  color: var(--placeholder-color);
  line-height: 1em;
}

input:focus, textarea:focus {
  outline: none;
}

:root {
  --primary-color: #7695EC;
  --background-color: #DDDDDD;
  --modalBG-color: rgba(119, 119, 119, 0.8);
  --white-color: #FFFFFF;
  --black-color: #000000;
  --placeholder-color: #CCCCCC;
  --input-border-color: #777777;
  --border-color: #999999;
  --save-color: #47B960;
  --delete-color: #FF5151;
  font-size: 16px;
  font-family: 'Roboto';
}